body {
    background: #b1dcf0;
}

#primary {
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.site-title {
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
}

.site-title a:link,
.site-title a:visited,
.site-title a:hover,
.site-title a:active {
    text-decoration: none;
    color: #1E0D3E;
}

#navigation-wrapper {
    width: 100%;
    background: white;
    padding: 0 20px;
}

#site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: none;
    max-width: 1000px;
    margin: auto;
}

#site-navigation button {
    background: none;
    border: none;
    font-size: 140%;
    padding: 6px 9px 6px 9px;
    margin-right: -9px;
}

.main-navigation li {
    margin-left: 10px;
}
.main-navigation a:link,
.main-navigation a:visited,
.main-navigation a:hover,
.main-navigation a:active {
    text-decoration: none;
    color: #1E0D3E;
}
@media only screen and (min-width: 600px) and (max-width: 799px) {
    .site-title {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 599px) {
    .site-title {
        font-size: 1.3em;
        margin-bottom: 1em;
    }

    #menu-wrapper {
        position: absolute;
        top: 64px;
        left: 0;
        height: 100%;
        width: 100%;
    }

    #primary-menu {
        position: absolute;
    }

    body.admin-bar #menu-wrapper {
        top: 122px;
    }

    ul.nav-menu {
        background-color: white;
        height: 100%;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    ul.nav-menu li {
        float: none;
        padding: 10px 0;
    }

    body.menu-toggled {
        overflow: hidden;
    }
}

/*--------------------------------------------------------------
# Description
--------------------------------------------------------------*/

.site-description {
    font-size: 1.9em;
    font-weight: bold;
    max-width: 900px;
    margin: 60px auto;
    color: white;
}
@media only screen and (max-width: 799px) {
    .site-description {
        font-size: 1.4em;
    }
}


#event-details {
    max-width: 100%;
    color: white;
    padding: 20px 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#051e29+0,144b64+100 */
    background: #051e29; /* Old browsers */
    background: -moz-linear-gradient(top, #051e29 0%, #144b64 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #051e29 0%,#144b64 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #051e29 0%,#144b64 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#051e29', endColorstr='#144b64',GradientType=0 ); /* IE6-9 */
}
.event-details_wrapper {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

input.event-registration-button {
    background: #2d2994;
    background-image: -webkit-linear-gradient(top, #2d2994, #2d2994);
    background-image: -moz-linear-gradient(top, #2d2994, #2d2994);
    background-image: -ms-linear-gradient(top, #2d2994, #2d2994);
    background-image: -o-linear-gradient(top, #2d2994, #2d2994);
    background-image: linear-gradient(to bottom, #2d2994, #2d2994);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

input.event-registration-button:hover {
    background: #2d2994;
    background-image: -webkit-linear-gradient(top, #2d2994, #2d2994);
    background-image: -moz-linear-gradient(top, #2d2994, #2d2994);
    background-image: -ms-linear-gradient(top, #2d2994, #2d2994);
    background-image: -o-linear-gradient(top, #2d2994, #2d2994);
    background-image: linear-gradient(to bottom, #2d2994, #2d2994);
    text-decoration: none;
}

/*--------------------------------------------------------------
# Event Copy
--------------------------------------------------------------*/
#front-page-sections section {
    padding: 60px 0;
}
#front-page-sections .front-page-section_wrapper {
    max-width: 900px;
    margin: auto;
}
@media only screen and (max-width: 900px) {
    #front-page-sections .front-page-section_wrapper {
        margin: 0 20px;
    }
}

#event-theme {
    text-align: center;
    background-color: white;
}

#event-about {
    color: white;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e667f+0,558fa9+100 */
    background: #2e667f; /* Old browsers */
    background: -moz-linear-gradient(top, #2e667f 0%, #558fa9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2e667f 0%,#558fa9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2e667f 0%,#558fa9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e667f', endColorstr='#558fa9',GradientType=0 ); /* IE6-9 */
}

#event-about h2 {
    color: white;
}

#event-participate {
    background-color: white;
}

a:link.button-link ,
a:visited.button-link ,
a:hover.button-link ,
a:active.button-link  {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.button-link i {
    vertical-align: middle;
    font-size: 1.5em;
    margin-right: 20px;
    display: inline-block;
}

.button-link span {
    display: inline-block;
}


@media only screen and (max-width: 230px) {
    a.button-link {
        max-width: 90%;
    }
}

@media only screen and (min-width: 231px) and (max-width: 500px) {
    a.button-link  {
        width: 90%;
    }
}

@media only screen and (min-width: 501px) {
    a.button-link {
        width: 40%;
        font-size: 1.5em;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer#colophon {
    height: 700px;
    padding-top: 60px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#94cfea+0,b2dcef+100 */
    background: #94cfea; /* Old browsers */
    background: -moz-linear-gradient(top, #94cfea 0%, #b2dcef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #94cfea 0%,#b2dcef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #94cfea 0%,#b2dcef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94cfea', endColorstr='#b2dcef',GradientType=0 ); /* IE6-9 */
}

.site-info {
    max-width: 1000px;
    margin: auto;
    margin: 20px;
}

footer#colophon #footer_menu,
footer#colophon .primary-menu {
    float: left;
    font-size: 14pt;
}

footer#colophon ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 40px;
}

#footer_contact li {
    font-size: 14pt;
    display: inline-block;
}

#footer_menu a:link,
#footer_menu a:visited,
#footer_menu a:hover,
#footer_menu a:active {
    text-decoration: none;
    color: #1E0D3E;
}

#footer_contact button {
    color: white;
    font-size: 14pt;
    background-color: rebeccapurple;
    height: 50px;
    width: 60px;
    text-align: center;
    border: none;
}

#copyright {
    clear: both;
    padding-top: 20px;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #4A4A4A;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1E0D3E;
    font-family: 'Roboto Slab', serif;
}