/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

$light-green: rgb(139,179,44);
$dark-green: rgb(77,112,40);
$background: #f4f4f4;
$light-gray: #b2b2b2;
$dark-gray: #565656;
$white: #fff;

